@use "@/styles/abstracts/variables.scss" as *;
@use "@/styles/abstracts/mixins.scss" as *;

.search {
  margin-block: 3rem 4rem;
  display: flex;
  justify-content: center;

  input {
    box-shadow: $shadow-light;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: none;
    width: 50%;

    @include respondMax("tablet") {
      width: 90%;
    }
  }
}
