@use "@/styles/abstracts/variables.scss" as *;
@use "@/styles/abstracts/mixins.scss" as *;

.cart {
  background-color: $white;
  border-radius: 6px;
  // margin-block: 5rem;

  &__heading {
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid $gray-100;
    @include respondMax("tablet") {
      display: none;
    }

    &__header {
      font-weight: 700;
      font-size: 1.5rem;
      color: $black;
    }
  }

  &__subtotal {
    font-weight: 600;
    font-size: var(--typography-h2);
    color: $black;
  }

  &__price {
    font-weight: 700;
    font-size: var(--typography-h1);
    color: $black;
  }
}
