@use "variables" as *;

.blue {
  color: $primary;
}
.blue-text {
  color: $blue;
}
.gray {
  color: $gray-100;
}
.gray-200 {
  color: $gray-100;
}
.gray-400 {
  color: $gray-400;
}
.black-100 {
  color: $black;
}
