$primary: #ffd814;
$primary-200: #fcd200;
$yellow: #f4bf76;
$dark-orange: #c45500;
$red: #b12704;
$black: #000;
$dark-black: #141920;
$blue: #007185;

$white: #fff;
$font-size: 12px;

$gray-100: #dddddd;
$gray-200: #c9cccc;
$gray-400: #565959;
$shadow-light: 0 0.2rem 0.5rem 0 rgb(213 217 217 / 50%);
$shadow-medium: 0px 4px 4px rgba(0, 0, 0, 0.16);
$shadow-large: 0px 12px 33px rgba(0, 0, 0, 0.25);

$font-default: "Plus Jakarta Sans", san-serif;
$dark-green: #0086a1;

$mobile: 600px;
$tablet: 900px;
$lg-tablet: 920px;
$sm-desktop: 1125px;
$desktop: 1366px;

$label-pink: #d40442;
$chip-pink: #ffe2e0;

$chip-green: #abead3;
$label-green: #405f40;

$chip-amber: darken(#fffac9, 10);
$label-amber: darken(#feac0d, 10);
